* {
    box-sizing: border-box;
}
  
.container {
    max-width: 1920px;
    margin: 0 auto
}

.main-section {
    position: relative;
    height: 100px;
    padding-top: 16px;
    overflow: hidden;
    background: #548af6;
}

.main-section__nav-container {
    max-width: 840px;
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: space-between;
}

.main-section__header {
    position: relative;
    display: flex;
    flex-direction: row;
}

.main-section__header img {
    width: 50px;
}

.main-section__header__text {
    color: #fff;
    margin-top: 32px;
    margin-left: 14px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
}

.nav-menu {
    display: flex;
    position: relative;
    justify-content: center;
    margin: auto;
}

.nav-menu__list {
    position: relative;
    width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-menu__list-item {
    margin-top: 25px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    color: #fff;
}

.town img{
    width: 100%;
}

.first-wrapper {
    position: absolute;
    top: 160px;
    left: 0;
    bottom: 0;
    right: 540px;
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.first-wrapper__title {
    font-size: 36px;
    font-family: sans-serif;
    font-weight: 600;
}

.first-wrapper__text {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
    line-height: 20px;
}

.buttons__main-btn {
    margin-top: 45px;
    border: 1px solid orange;
    background-color: orange;
    height: 40px;
    border-radius: 20px;
    color: #fff;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
}

.second-section {
    max-width: 840px;
    height: 250px;
}

.second-section__content {
    position: relative;
    width: 840px;
    align-items: center;
    margin: 100px 300px 0 300px;
}

.second-section__content__title {
    font-size: 36px;
    font-family: sans-serif;
    font-weight: 600;
}

.second-section__content__text {
    margin-top: 30px;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 500;
    line-height: 18px;
}

.second-section__content__link {
    margin-top: 30px;
    color: #548af6;
    font-size: 14px;
    font-family: sans-serif;
}

.city2_img {
    width: 100%;
}

.third-section__content {
    position: absolute;
    top: 950px;
    left: 0;
    bottom: 0;
    right: 0px;
    margin: auto;
    max-width: 840px;
}

.third-section__content h1 {
    width: 50px;
    line-height: 40px;
    font-size: 36px;
    font-family: sans-serif;
    font-weight: 500;
    color: #fff;
}

.third-menu__list {
    padding-top: 60px;
    max-width: 840px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.third-menu__list img {
    width: 70px;
}

.third-menu__list-item {
    color: #fff;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 600;
    line-height: 20px;
}

.four-section {
    max-width: 840px;
    height: 400px;
}

.four-section__content {
    position: relative;
    width: 840px;
    align-items: center;
    margin: 100px 300px 0 300px;
}

.four-section__content__title {
    font-size: 36px;
    font-family: sans-serif;
    font-weight: 600;
    padding-bottom: 20px;
}

.four-section__content__text {
    margin-top: 30px;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 500;
    line-height: 18px;
}

.man_img {
    width: 100%;
}

.five-wrapper {
    position: absolute;
    top: 2000px;
    left: 0;
    bottom: 0;
    right: 540px;
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.five-wrapper__text {
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 600;
}

.six-section {
    max-width: 840px;
    height: 400px;
}

.six-section__content {
    position: relative;
    width: 840px;
    align-items: center;
    margin: 100px 300px 0 300px;
}

.six-section__content__title {
    font-size: 36px;
    font-family: sans-serif;
    font-weight: 600;
    padding-bottom: 20px;
}

.six-section__blocks {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
}

.six-section__blocks__block {
    width: 350px;
    padding-left: 100px;
}

.six-section__blocks__block:first-child {
    padding-left: 0;
}

.six-section__blocks__block img {
    width: 155px;
    height: 80px;
}

.six-section__blocks__block__title {
    margin-top: 20px;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 600;
    color: #548af6;
}

.six-section__blocks__block__text {
    margin-top: 20px;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 500;
    line-height: 16px;
}

.seven-section {
    background-color: orange;
    height: 150px;
}

.seven-section__content {
    padding-top: 50px;
    position: relative;
    width: 840px;
    align-items: center;
    margin: 100px 300px 0 300px;
    display: flex;
    flex-direction: row;
}

.seven-section__text {
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 600;
    line-height: 20px;
    color: #fff;
}

.seven-section__button {
    width: 280px;
    height: 65px;
    background-color: #fff;
    color: black;
    border: 1px solid #fff;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 500;
    margin-left: 150px;
}

.eight-section {
    background-color: #272425;
    height: 350px;
}

.eight-section__content {
    position: relative;
    width: 840px;
    align-items: center;
    margin: 100px 300px 0 300px;
}

.eight__list {
    display: flex;
    flex-direction: row;
}

.eight__list__item {
    padding-left: 40px;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 500;
    color: #fff;
    line-height: 18px;
}

.eight__list__item:first-child {
    padding-left: 0;
}

.eight__list__orenge-img {
    padding-left: 30px;
    padding-top: 50px;
}

.nine-section {
    margin-top: -20px;
    background-color: #272425;
    height: 80px;
}

.nine-section__content {
    position: relative;
    width: 840px;
    align-items: center;
    margin: 100px 300px 0 300px;
}

.eight-section__content__link {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.eight-section__content__link__texts {
    display: flex;
    flex-direction: row;
}

.eight-section__content__link__texts__text {
    color: #fff;
    padding: 21px 0 0 7px;
}

.eight-section__content__link__tolk {
    color: #fff;
    padding-top: 21px;
}